*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
body{
    display: flex;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container{
    background-color: purple;
    
    margin: 50px;
    padding: 50px;
    border-radius: 20px;
}
.title{
    display: flex;
    justify-content: center;
    
}
.Action{
    margin-top: 200px;

    font-size: 30px;
}
.reset{
    cursor: pointer;
}
.grid{
    margin-top: 20px;
    display: grid;
    background: rgba(0, 0, 0, 0.452);
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-gap: 20px;
}
.cell{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    background-color:purple;
}
.x::after{
    content: 'x';
    font-size: 200px;
}

.o::after{
    content: 'o';
    font-size: 200px;
}

